body {
  font-family: Arial, sans-serif;
  background: #4a4a85;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #222;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #222;
  color: white;
}

.ok {
  color: green;
  font-weight: bold;
}

.low {
  color: orange;
  font-weight: bold;
}

.critical {
  color: red;
  font-weight: bold;
}
