body {
  font-family: Arial, sans-serif;
  background: #4a4a85;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #222;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #222;
  color: white;
}

.ok {
  color: green;
  font-weight: bold;
}

.low {
  color: orange;
  font-weight: bold;
}

.critical {
  color: red;
  font-weight: bold;
}


.edit-btn {
  background: #4caf50;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.delete-btn {
  background: #f44336;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container div h3{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font: bold;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: whitesmoke;
  color: #222;
}

.form input::placeholder{
  color: #222;
}

.form button{
  background: #4caf50;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-right: 5px;
  cursor: pointer;

}

.cancel-btn {
  background: #777;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.order-btn {
  background: #2196F3;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.arrival-date {
  color: #2196F3;
  font-weight: bold;
}

.no-order {
  color: #999;
}
